WORD_LIMIT: 200
SHORT_WORD_LIMIT: 25
BACKEND: kobold_cpp
MEMORY_SIZE: 512
UNLIMITED_REACTS: false
ACTION_LIST:
- move, say, attack, wear, remove, wield, take, eat, drink, emote, search, hide, unhide,
  pick_lock
ITEM_TYPES:
- Weapon
- Wearable
- Health
- Money
- Trash
